body {
    background: url("mi-fondo.jpg") no-repeat center center fixed;
    background-size: cover;
    background-color: #413d3d;
    font-family: 'Montserrat', sans-serif;
}
.fotoperfil {
  width: 300px;
  object-fit: cover;
  border-radius: 50%;
  
}
h1 {
    text-align: center;
    font-size: 0.5rem; 
    background-color: black;
    color: white ;
    padding: 5px;
    border-radius: 8px;
}
h2 {
   font-weight:lighter;
    text-align: center;
    font-size: 2.5rem;  
    background-color: rgb(48, 75, 48);
    width: 800px;
    color: rgb(0, 0, 0) ;
    padding: 40px;
    border-radius: 100px;
    margin: 0 auto;  
}

h3 {
    text-align: center;
    font-size: 0.5rem; 
    background-color: black;
    color: white ;
    padding: 5px;
    border-radius: 8px;
}
h4{
    text-align: center;
    font-size: 2.5rem; 
    color: rgb(255, 255, 255) ;
}
h5{
    text-align: center;
    font-size: 2.5rem; 
    color: rgb(255, 255, 255) ;
}
h6{
    text-align: center;
    font-size: 2.5rem; 
    color: rgb(255, 255, 255) ;
}
p{
    font-size: 1.8rem; 
    color: rgb(0, 0, 0) ;
    padding: 5px;
    max-width: 1000 px;
    
}
.perfil{
    display: flex;
    align-items: center;
    gap: 50px;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 500px;
}

.aptitudes{
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 10px;
    gap: 20px;
}
.tech-list{
    display: flex;
    justify-content: space-between;
    padding-top: 0px;
}

.tech{
    margin: 0 40px;
    height: 90px;
    background-color: white;   /* fondo blanco */
    padding: 10px;
    border-radius: 50px;
}
.resaltado {
    display: inline;
    text-align: center;
    padding: 10px ; 
    border-radius: 500px;
    font-weight: bold;     
}
.red-social{
    height: 80px;
    background-color: #F2F2F2;
    border-radius: 100px;
}

footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.contacto{
    width: 20%;
    display: flex;
    justify-content: center;
}